<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper main-nav">
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <a href="#" class="brand-logo center"><i class="material-icons">cloud</i>{{ site.title }}</a>
            <a href="#" id="theme-toggle" class="right" onclick="modeSwitcher()"><i class="material-icons">invert_colors</i></a>
        </div>
    </nav>
</div>

<ul class="sidenav" id="nav-mobile">
    <li>Something</li>
    {% for link in site.links %}
    {% if link.external %}
    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% else %}
    <li><a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
    {% endif %}
    {% endfor %}
</ul>