$mainColor: #82b1ff;
$cardColor: #eceff1;
$textColor: rgba(0, 0, 0, 0.87);
$lightMainColor: #82b1ff;
$lighterMainColor: #b6e3ff;
$background: rgba(255, 255, 255, 1);
$secondaryColor: #00bfa5;

$darkMainColor: #4d82cb;
$darkCardColor: #263238;
$darkTextColor: rgba(255, 255, 255, 0.87);
$darkLightMainColor: #757575;
$darkLighterMainColor: #616161;
$darkBackground: #37474f;
$darkSecondaryColor: #64ffda;

$facebookColor: #3b5998;
$twitterColor: #55acee;