$mainColor: #82b1ff;
$cardColor: #fff;
$textColor: #000;
$lightMainColor: #82b1ff;
$lighterMainColor: #b6e3ff;
$background: #fff;
$secondaryColor: #a7ffeb;

$darkMainColor: #4d82cb;
$darkCardColor: #191919;
$darkTextColor: #ffff;
$darkLightMainColor: #757575;
$darkLighterMainColor: #616161;
$darkBackground: #37474f;
$darkSecondaryColor: #75ccb9;

$facebookColor: #3b5998;
$twitterColor: #55acee;