$mainColor: #82b1ff;
$cardColor: #fff;
$textColor: rgba(0, 0, 0, 0.87);
$lightMainColor: #82b1ff;
$lighterMainColor: #b6e3ff;
$background: rgba(250, 250, 250, 1);
$secondaryColor: #a7ffeb;

$darkMainColor: #4d82cb;
$darkCardColor: #191919;
$darkTextColor: rgba(255, 255, 255, 0.87);
$darkLightMainColor: #757575;
$darkLighterMainColor: #616161;
$darkBackground: #37474f;
$darkSecondaryColor: #75ccb9;

$facebookColor: #3b5998;
$twitterColor: #55acee;