---
---

@import "variables";
@import "monokai";
@import "colorful";
@import "typography";

.highlight {
  background-color: var(--card-color);
  table tr {
    border-bottom: hidden;
  }
}

body {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-nav {
  background-color: var(--main-color);
  padding-right: 1em;
}

.sidenav {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  .divider {
    background-color: rgba(255, 255, 255, 0.2);
  }
  li a {
    color: var(--main-text-color);
  }
  li:hover {
    background-color: var(--lighter-main-color);
  }
}

.browser-default-uls {
  ul {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    li {
      list-style-type: disc !important;
      ul {
        li {
          list-style-type: circle !important;
        }
      }
    }
  }
}

html,
html[data-theme="light"] {
  --text-color: #{$textColor};
  --main-color: #{$mainColor};
  --card-color: #{$cardColor};
  --main-background-color: #{$background};
  --light-main-color: #{$lightMainColor};
  --ligther-main-color: #{$lighterMainColor};
  --main-text-color: #{$textColor};
  --secondary-color: #{$secondaryColor};
  @include light_highlight;
}

html[data-theme="dark"] {
  --text-color: #{$darkTextColor};
  --main-color: #{$darkMainColor};
  --card-color: #{$darkCardColor};
  --main-background-color: #{$darkBackground};
  --light-main-color: #{$darkLightMainColor};
  --ligther-main-color: #{$darkLighterMainColor};
  --main-text-color: #{$darkTextColor};
  --secondary-color: #{$darkSecondaryColor};
  @include dark_highlight;
}

@media (prefers-color-scheme: dark) {
  html,
  html[data-theme="dark"] {
    --text-color: #{$darkTextColor};
    --main-color: #{$darkMainColor};
    --card-color: #{$darkCardColor};
    --main-background-color: #{$darkBackground};
    --light-main-color: #{$darkLightMainColor};
    --ligther-main-color: #{$darkLighterMainColor};
    --main-text-color: #{$darkTextColor};
    --secondary-color: #{$darkSecondaryColor};
    @include dark_highlight;
  }

  html[data-theme="light"] {
    --text-color: #{$textColor};
    --main-color: #{$mainColor};
    --card-color: #{$cardColor};
    --main-background-color: #{$background};
    --light-main-color: #{$lightMainColor};
    --ligther-main-color: #{$lighterMainColor};
    --main-text-color: #{$textColor};
    --secondary-color: #{$secondaryColor};
    @include light_highlight;
  }
}

html,
html *,
html *:before,
html *:after {
  transition: color 1s;
  transition: background-color 1s;
}