---
layout: default
---
<div class="section delayed-link" id="index-banner">
  <br><br>
  <h1 class="header center secondary-text-color">{{page.title | default: site.title}}</h1>
  <div class="row center">
    <h4 class="header col s12 light">{{page.description}}</h4>
  </div>
  <br><br>
  <div class="row center">
    <a href="{{site.baseurl}}/{{page.start.link}}" class="btn-large waves-effect waves-light">{{page.start.text}}</a>
  </div>
  <br><br>
</div>
<div class="section" id="promotion">
  <div class="row grid">
    {% for promo in page.promos %}
    <div class="col s12 m4 center cell">
      {% assign mdi_prefix = promo.icon | split: '-' %}
      {% if mdi_prefix[0] == 'mdi' %}
      <i class="material-icons mdi {{promo.icon}}"></i>
      {% else %}
      <i class="material-icons">{{promo.icon}}</i>
      {% endif %}
      <h4 class="promo-caption"><a href="{{promo.link}}">{{promo.caption}}</a></h4>
      <p class="flow-text">{{promo.content}}</p>
    </div>
    {% endfor %}
  </div>
</div>
